@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>

<style>
    /* Add CSS to ensure the footer sticks to the bottom */
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* 100% of the viewport height */
    }

    .wrapper {
        flex: 1; /* Allow content to grow and push footer down */
    }

    .navbar-color {
        background-color: #fff4e4 !important;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between; /* Align content to the left and right edges */
        align-items: center; /* Vertically center the content */
        height: 60px; /* Vertically center the text there */
        background-color: #f5f5f5;
    }

    /* Additional custom styles for your page */
    body > .container {
        padding: 60px 15px 0;
    }

    .footer > .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    code {
        font-size: 80%;
    }

    /* Add custom link styles */
    .custom-link {
        color: #000; /* Default text color */
        font-size:
    }

        .custom-link:hover {
            color: #ecb42c; /* Text color on hover */
        }
    /* Custom button styles */
    .custom-btn {
        background-color: #ecb42c;
        color: #000;
        border-radius: 18px;
        border: 2px solid #ecb42c;
    }

        .custom-btn:hover {
            background-color: #e88c24;
            color: #fff4e4;
            border: 2px solid #e88c24;
        }

    .custom-btn2 {
        background-color: #fff4e4;
        color: #000;
        border-radius: 18px;
        border: 2px solid #ecb42c;
    }

        .custom-btn2:hover {
            background-color: #e88c24;
            color: #fff4e4;
            border: 2px solid #e88c24;
        }

    navbarCollapse {
        color: #000;
        background-color: #000;
    }
</style>


<!-- Styling for the Meet the Team page-->
<style>
    .landing {
        text-align: center;
        margin: auto;
        width: 90%;
<<<<<<< Updated upstream
=======
        padding: 10px;
>>>>>>> Stashed changes
    }

    .title {
        font-size: 80px;
    }

    .mission {
        font-size: 80px;
    }
</style>
<!-- Styling for the Meet the Team page-->
<style>

    /* Implement for keeping the people cards readable */

    /*
    media screen and (max-width: 670px) {
        .column {
            width: 100%;
            text-align: none;
        }
    } */



    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .about {
        margin: auto;
        width: 80%;
        padding: 10px;
    }

    .team-title {
        font-size: 40px;
    }

    .front-end {
        font-size: 30px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .columncard {
        width: 25%;
        float: left;
        margin-bottom: 16px;
        padding: 0 8px;
    }

    .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .container {
        padding: 0 16px;
    }

    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }

    .button:hover {
        background-color: #555;
    }
</style>

<!-- Styling for the footer -->
<style>
    .left-content {
        padding-left: 15px;
    }

    .right-content {
        padding-right: 15px;
        text-align: right;
        color: #4b4c4d;
    }

    .vertical-bar {
        margin: 0 10px;
        font-weight: bold;
    }

    .right-content a {
        font-size: 24px;
        color: inherit;
        width: 40px;
        height: 40px;
        display: inline-block;
        opacity: 0.75;
    }

    .right-content a:hover {
        opacity: 0.9;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-color">
        <div class="container-fluid">
            <!-- Logo + Brand -->
            <a class="navbar-brand" href="/">
                <img src="~/Images/tx-luminescence-logo-rectangle.jpg" alt="TX Luminescence" width="225">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Code for Hamburger Menu -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- All the Buttons/Links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="CurrentProjects" class="nav-link">Current Projects</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="FAQs" class="nav-link">FAQs</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-3 mb-2 mb-lg-0 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="https://luminescencetalk.slack.com/ssb/redirect">Contact</a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Register" class="nav-link">Apply</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Footer -->
    <div class="footer">
        <div class="left-content">
            &copy; 2023 Texas Luminescence
        </div>
        <div class="right-content">
            <a href="https://www.instagram.com/texasluminescence/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://luminescencetalk.slack.com/ssb/redirect" target="_blank"><i class="fa-brands fa-slack"></i></a>
            <a href="" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <!--Scripts for Nav Bar-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"</script>
    @RenderSection("Scripts", required: false)
    <!--Script for Footer-->
    <script src="https://kit.fontawesome.com/c8a5abf612.js" crossorigin="anonymous"></script>
</body>
</html>
