@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model TX_Luminescence.Models.SourceModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/lib/bootstrap-4.0.0/docs/4.0/examples/sticky-footer-navbarsticky-footer-navbar.css" rel="stylesheet">
</head>
<style>
    /* Add CSS to ensure the footer sticks to the bottom */
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* 100% of the viewport height */
    }

    .wrapper {
        flex: 1; /* Allow content to grow and push footer down */
    }

    .navbar-color {
        background-color: #fff4e4;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between; /* Align content to the left and right edges */
        align-items: center; /* Vertically center the content */
        height: 60px; /* Vertically center the text there */
        background-color: #f5f5f5;
    }

    /* Additional custom styles for your page */
    body > .container {
        padding: 60px 15px 0;
    }

    .footer > .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    code {
        font-size: 80%;
    }

    .navbar-color {
        background-color: #fff4e4;
    }

    /* Add custom link styles */
    .custom-link {
        color: #000; /* Default text color */
        font-size:
    }

        .custom-link:hover {
            color: #ecb42c; /* Text color on hover */
        }
    /* Custom button styles */
    .custom-btn {
        background-color: #ecb42c;
        color: #000;
        border-radius: 18px;
        border: 2px solid #ecb42c;
    }

        .custom-btn:hover {
            background-color: #e88c24;
            color: #fff4e4;
            border: 2px solid #e88c24;
        }

    .custom-btn2 {
        background-color: #fff4e4;
        color: #000;
        border-radius: 18px;
        border: 2px solid #ecb42c;
    }

        .custom-btn2:hover {
            background-color: #e88c24;
            color: #fff4e4;
            border: 2px solid #e88c24;
        }

    navbarCollapse {
        color: #000;
        background-color: #000;
    }
</style>

<!-- Styling for the footer -->
<style>
    .left-content {
        padding-left: 15px;
    }

    .right-content {
        padding-right: 15px;
        text-align: right;
        color: #4b4c4d;
    }

    .vertical-bar {
        margin: 0 10px;
        font-weight: bold;
    }

    .right-content a {
        font-size: 24px;
        color: inherit;
        width: 40px;
        height: 40px;
        display: inline-block;
        opacity: 0.75;
    }

        .right-content a:hover {
            opacity: 0.9;
        }
</style>
<html>
<body>
    <!-- This is the code for the navbar -->
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md fixed-top navbar-color" style="height: 75px;">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                <img src="~/Images/tx-luminescence-logo.jpg" title="title" style="width: 7%" alt="additional title" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link custom-link" href="Index">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-link" asp-action="CurrentProjects">Current Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-link" asp-action="Events">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-link" asp-action="FAQs">FAQs</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <a class="nav-link mr-2 custom-btn" asp-action="Contact">Contact</a>
                </form>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-controller="RoleAdmin" asp-action="Index" class="nav-link">Manage Users</a>
                        </li>
                    }
                }
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </nav>
    </header>

    <div class="wrapper">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="left-content">
            &copy; 2023 Texas Luminescence
        </div>
        <div class="right-content">
            <a href="https://www.instagram.com/texasluminescence/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://luminescencetalk.slack.com/ssb/redirect" target="_blank"><i class="fa-brands fa-slack"></i></a>
            <a href="" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/c8a5abf612.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap-4.0.0/js/bootstrap.bundle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
