@model TX_Luminescence.Models.SourceModel

@{
    ViewData["Title"] = "Current Projects";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<div class="container">
    <h1>
        Checkout Walkup Order
    </h1>
    <hr />
    <div class="row">
        </div>
    </div>

    <div>
        <!-- Link to navigate back to the homepage -->
        <a asp-action="Index">Back to Homepage</a>
    </div>
</div>
