@{
    ViewData["Title"] = "Current Projects";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<div class="container">
    <h1>
        Current Projects
    </h1>
    <hr />
    <div>
        <!-- Link to navigate back to the homepage -->
        <a asp-action="Index">Back to Homepage</a>
    </div>
</div>
