@{
    // Set the layout for this view
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div>
        <div class="landing">
            <h1 class="title">Texas Luminescene</h1>
            <h2 class="mission">(The mission statement goes here.)</h2>
            <<<<<<< Updated upstream
            <img src="~/Images/tx-luminescence-logo-rectangle.jpg" alt="tx-luminescence-large-logo">
            =======
            <img src="~/Images/tx-luminescence-logo-rectangle.jpg" alt="Kidus Gorfe">
            >>>>>>> Stashed changes
        </div>
    </div>
    <!-- About Page (Just Meet the Team atm) -->
    <div>
        <div class="about">
            <p class="team-title">
                Meet the Team
            </p>
            <div class="row">
                <div class="columncard" style="width: 25%">
                    <div class="card">
                        <img src="https://ca.slack-edge.com/T05E4HN2V8S-U05EH6QUX1P-1d562bba7e23-512" alt="Jerry Dai">
                        <div class="container">
                            <h2>Jerry Dai</h2>
                            <h3>Founder/President</h3>
                            <p><button class="button">Contact</button></p>
                        </div>
                    </div>
                </div>
                <div class="columncard" style="width: 25%">
                    <div class="card">
                        <img src="https://ca.slack-edge.com/T05E4HN2V8S-U05K8TJ14HW-918b721baaf8-512" alt="Soorya N.">
                        <div class="container">
                            <h2>Soorya N.</h2>
                            <h3>Director of Fundraising</h3>
                            <p><button class="button">Contact</button></p>
                        </div>
                    </div>
                </div>
                <div class="columncard" style="width: 25%">
                    <div class="card">
                        <img src="https://ca.slack-edge.com/T05E4HN2V8S-U05J93S306Q-e9ff4783bbe5-512" alt="Abby Kremer">
                        <div class="container">
                            <h2>Abby Kremer</h2>
                            <h3>Director of Communications</h3>
                            <p><button class="button">Contact</button></p>
                        </div>
                    </div>
                </div>
                <div class="columncard" style="width: 25%">
                    <div class="card">
                        <img src="~/Images/tx-luminescence-logo.jpg" alt="Kidus Gorfe">
                        <div class="container">
                            <h2>Kidus Gorfe</h2>
                            <h3>Director of Recruiting</h3>
                            <p><button class="button">Contact</button></p>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="columncard" style="width: 25%">
                    <div class="card">
                        <img src="~/Images/tx-luminescence-logo.jpg" alt="Elin Park">
                        <div class="container">
                            <h2>Elin Park</h2>
                            <h3>Director of Marketing</h3>
                            <p><button class="button">Contact</button></p>
                        </div>
                    </div>
                </div>
                <div class="columncard" style="width: 25%">
                    <div class="card">
                        <img src="https://ca.slack-edge.com/T05E4HN2V8S-U05EUA08L72-33a0c7cd7a12-512" alt="Parker Freeburg">
                        <div class="container">
                            <h2>Parker Freeburg</h2>
                            <h3>Director of Finance</h3>
                            <p><button class="button">Contact</button></p>
                        </div>
                    </div>
                </div>
                <div class="columncard" style="width: 25%">
                    <div class="card">
                        <img src="~/Images/tx-luminescence-logo.jpg" alt="Sanjay Sivakumar">
                        <div class="container">
                            <h2>Sanjay Sivakumar</h2>
                            <h3>Director of Events</h3>
                            <p><button class="button">Contact</button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>