@{
    // Set the layout for this view
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Party!</title>
    <link href="~/lib/bootstrap-4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div>
        <div class="text-center"">
            <img href="/tx-luminescence-logo.jpg" alt="TX Luminescence" class="d-inline-block align-top">
        </div>
    </div>
</body>
</html>